<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../assets/css/login.css">
</head>

<body>
    <div id="login-block">
        <h1> STATIFY </h1>
        <p>Welcome to Statify, we require access to your spotify account to visualize the data! <br></p>
        <a href="/auth/spotify"><button>Login with Spotify</button></a>
    </div>
</body>
