<!-- Navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Statify</a>
        </div>
        <a href="/logout"><button>Logout</button></a>
    </div>
</nav>

<!-- Side bar and the dashboard -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <img src="<%= topArtists[0].images[1].url %>" class="img-responsive" alt="Generic placeholder thumbnail">
                </br>
                <li><a href="#top-tracks">Dashboard </a></li>
                <li><a href="#musicanalysis">Music Analysis</a></li>
                <li><a href="#sunburst1">My Top 50</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</div>
