<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row placeholders">
        <h3 class="text-justify">Your Current Popular Tracks</h3>
        <% for(var i = 0; i < 10;) { %>
            <div class="col">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="<%= topTracks[i].album.images[1].url %>" width="120" height="120">
                    </div>
                    <div class="col-lg-4">
                        <p class="text-left">
                            <%= topTracks[i++].name %>
                        </p>
                    </div>
                    <div class="col-lg-2">
                        <img src="<%= topTracks[i].album.images[1].url %>" width="120" height="120">
                    </div>
                    <div class="col-lg-4">
                        <p class="text-left">
                            <%= topTracks[i++].name %>
                        </p>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row placeholders" id="dialRow" >
        <h3 class="text-justify">Track Analysis</h3>
        <script>
            var svg = d3.select("#dialRow")
                .append("svg")
                .attr("width", 200)
                .attr("height", 200)
                .append("g")
                .attr("transform", "translate(300,100)");

            var arc = d3.svg.arc()
                .innerRadius(50)
                .outerRadius(70)
                .startAngle(0)
                .endAngle(1);

            svg.append("path")
                .attr("class", "arc")
                .attr("d", arc);
        </script>
    </div>
</div>
